* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    font-weight: 400;
}

h1,
h2,
h3,
p {
    margin: 1rem 0;
}

.main-wrapper h1 {
    text-align: center;
    font-size: 3rem;
    color: #34495e;
}

.search-wrapper {
    text-align: center;
}

.search-wrapper input {
    padding: 0.6rem;
    border-radius: 0.6rem;
    width: 20rem;
    font-size: 1.2rem;
    border: 2px solid #34495e;
}

.search-wrapper input:focus {
    background-color: bisque;
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #34495e;
}

.countries {
    padding: 3rem;
    display: grid;
    gap: 3rem;
}

@media screen and (min-width: 768px) {
    .countries {
        grid-template-columns: auto auto;
    }
}

@media screen and (min-width: 992px) {
    .countries {
        grid-template-columns: auto auto auto;
    }
}

.country {
    background-color: #34495e;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    border-radius: 0.6rem;
    transition: all 0.3s;
}

.country:hover {
    transform: scale(1.1);
}

.flag {
    width: 10rem;
    height: 7rem;
}

.btn {
    border: none;
    border-radius: 0.6rem;
    padding: 0.6rem;
    cursor: pointer;
    background-color: orange;
    transition: all 0.3s;
}

.btn:hover {
    background-color: red;
    color: white;
}